/***** BASE STYLES *****/
html {
  font-size: 16px;
  background-color: #eed5d0;
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1em;
  color: #333;
  margin: 0;
  padding: 0;
}

/***** THANK YOU PAGE *****/
.thanks-container {
  margin: auto;
  text-align: center;
}

.thanks-container h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 5em;
  font-style: italic;
}

.thanks-container h2 {
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 2em;
}

.thanks-container a {
  text-decoration: none;
  color: #333;
}
