/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #eed5d0;
    text-shadow: none;
}

::selection {
    background: #eed5d0;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /***** BASE STYLES *****/
   html {
       font-size: 16px;
       background-color: #fff;
   }

   body {
     font-family: 'Fira Sans Condensed', sans-serif;
     font-size: 1em;
     color: #333;
     margin: 0;
     padding: 0;
   }

   /***** GRID *****/
   .full-width {
     width: 96%;
     margin: 0 auto;
     clear: both;
   }

   .half-width {
     width: 100%;
     padding-bottom: 3%;
   }

   /***** HEADER *****/
   header {
     background-color: #fff;
     font-size: 1em;
     color: #333;
     height: auto;
   }

   header .header-container {
     width: 98%;
     max-width: 1200px;
     margin: auto;
   }

   header .header-title {
     display: none;
   }

   header .header-title h1 {
     font-family: 'Playfair Display', serif;
     font-size: 2em;
     font-weight: 400;
     font-style: italic;
     line-height: .2em;
   }

   header .header-title h1 a {
     color: #333;
     text-decoration: none;
   }

   header .header-title h1 a:hover {
     border-bottom: 2px solid #70806e;
   }

   nav {
     width: 95%;
     text-align: center;
     margin: auto;
     padding: 1em 0 1em 0;
   }

   nav ul {
     margin: auto;
     padding: 0;
   }

   nav ul li {
     display: inline-block;
     padding: 0 .5em 0 .5em;
   }

   nav ul li a {
     text-transform: uppercase;
     text-decoration: none;
     font-family: 'Fira Sans Condensed', sans-serif;
     font-size: 1em;
     color: #333;
     font-weight: 400;
     letter-spacing: .02em;
   }

   nav ul li a:hover {
     background-color: #eed5d0;
   }

   header .header-social {
     display: none;
   }

   header .header-social ul {
     margin: auto;
     padding: 0;
   }

   header .header-social ul li {
     display: inline-block;
     padding-right: .75em;
   }

   header .header-social ul li a {
     font-size: 1em;
     color: #333;
   }

   header .header-social ul li a:hover {
     font-weight: bold;
   }

   /***** SKILLS *****/
   #skills {
     background: #fff;
     height: auto;
     text-align: center;
     font-size: 1em;
   }

   #skills .skills-container {
     width: 98%;
     margin: 0 auto;
     padding: 4em 0 6em 0;
   }

   #skills .skills-title {
     width: 95%;
     max-width: 780px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding-bottom: 2em;
   }

   #skills h1 {
     font-family: 'Playfair Display', serif;
     font-weight: 400;
     font-size: 2em;
     line-height: 1em;
   }

   #skills h1 span {
     font-style: italic;
   }

   #skills h1 span:after {
     content: "";
     display: block;
     width: 90%;
     margin-top: -.4em;
     margin-left: auto;
     margin-right: auto;
     border-bottom: 26px solid #eed5d0;
   }

   #skills .skill-list {
     width: 90%;
     height: 425px;
     margin: auto;
     background-color: #70806e;
     border-top: solid 10px #333;
   }

   #skills h2 {
     font-family: 'Playfair Display', serif;
     font-size: 6em;
     color: #fff;
     font-style: italic;
     letter-spacing: 0em;
     line-height: 0em;
     text-shadow: 3px 3px 0px rgba(51, 51, 51, 1);
   }

   #skills h3 {
     font-family: 'Playfair Display', serif;
     font-weight: 400;
     font-size: 1.5em;
     font-style: italic;
     color: #fff;
   }

   #skills p {
     font-weight: 300;
     font-size: 1.1em;
     line-height: 1.8em;
     color: #fff;
     padding: 0 1.59em 2em 1.59em;
   }

   /***** SKILLS2 *****/
   #skills2 {
     background: #f6f6f6;
     height: auto;
     text-align: center;
     font-size: 1em;
   }

   #skills2 .skills2-container {
     width: 98%;
     margin: 0 auto;
     padding: 4em 0 6em 0;
   }

   #skills2 .skills2-title {
     width: 95%;
     max-width: 780px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding-bottom: 2em;
   }

   #skills2 h1 {
     font-family: 'Playfair Display', serif;
     font-weight: 400;
     font-size: 2em;
     font-style: italic;
     line-height: 1em;
   }

   #skills2 h1:after {
     content: "";
     display: block;
     width: 75%;
     margin-top: -.4em;
     margin-left: auto;
     margin-right: auto;
     border-bottom: 26px solid #eed5d0;
   }

   #skills2 .skills2-list-row {
     clear: both;
     width: 95%;
     margin: auto;
   }

   #skills2 .skills2-list-item {
     padding: .5% 0 .5% 0;
     border-top: 1px solid #bbb;
   }

   #skills2 .skills2-list-item h4 {
     font-size: 1em;
     font-weight: 300;
     letter-spacing: .02em;
     text-transform: uppercase;
   }

   /***** MAIN CONTENT *****/
   .intro-container {
     width: 95%;
     max-width: 780px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding: 5% 0 5% 0;
   }

   .intro-container h1 {
     font-family: 'Playfair Display', serif;
     font-weight: 400;
     font-size: 2em;
     font-style: italic;
     line-height: 1em;
   }

   .intro-container h1:after {
     content: "";
     display: block;
     width: 75%;
     margin-top: -.4em;
     margin-left: auto;
     margin-right: auto;
     border-bottom: 26px solid #eed5d0;
   }

   .skillcrush-link {
     clear: both;
     margin: auto;
     text-align: center;
     padding-bottom: 3%;
   }

   .skillcrush-link a {
     font-size: 1em;
     text-transform: uppercase;
     letter-spacing: .15em;
     text-decoration: none;
     color: #333;
     border-bottom: 5px solid #333;
   }

   .skillcrush-link a:hover {
     border-bottom: 5px solid #eed5d0;
   }

   .return {
     clear: both;
     text-align: center;
     padding: 5% 0 8% 0;
   }

   .return a {
     font-family: 'Playfair Display', serif;
     font-size: 1.5em;
     text-decoration: none;
     color: #333;
     font-style: italic;
   }

   .return a:hover {
     border-bottom: 2px solid #333;
   }

   .return a:after {
     content: "";
     display: block;
     width: 55%;
     margin-top: -.5em;
     margin-left: auto;
     margin-right: auto;
     border-bottom: 15px solid #eee;
   }

   /***** PORTFOLIO *****/
   #portfolio-landing {
     background: #fff;
     height: auto;
     font-size: 1em;
   }

   #portfolio-landing .portfolio-container {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 3% 0 3% 0;
   }

   #portfolio-landing .portfolio-full {
     width: 100%;
     margin: auto;
   }

   #portfolio-landing .portfolio-half {
     width: 98%;
     padding-bottom: 3em;
     text-align: center;
   }

   #portfolio-landing .portfolio-half img {
     border: solid 1px #333;
     -webkit-box-shadow: 15px 15px 0px 0px rgba(112,128,110,1);
     -moz-box-shadow: 15px 15px 0px 0px rgba(112,128,110,1);
     box-shadow: 15px 15px 0px 0px rgba(112,128,110,1);
     margin-bottom: 1.5em;
   }

   #portfolio-landing .portfolio-half h4 a {
     font-family: 'Playfair Display', serif;
     font-weight: 400;
     font-size: 1.5em;
     color: #333;
     font-style: italic;
     text-decoration: none;
   }

   #portfolio-landing .portfolio-half h4 a:hover {
     border-bottom: 2px solid #eed5d0;
   }

   #portfolio-landing .read-more-link a {
     font-size: 1em;
     text-transform: uppercase;
     letter-spacing: .15em;
     text-decoration: none;
     color: #333;
   }

   #portfolio-landing .read-more-link a:hover {
     background-color: #eed5d0;
   }

   /***** CLIENT PAGES *****/
   #client-work {
     background: #fff;
     height: auto;
     font-size: 1em;
     color: #333;
   }

   #client-work .half-width {
     margin: auto;
     text-align: center;
   }

   #client-work .half-width h3 {
     font-size: 1.25em;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: .02em;
     text-align: left;
     line-height: 1em;
   }

   #client-work .half-width h3 a {
     text-decoration: none;
     color: #333;
   }

   #client-work .half-width h3 a:hover {
     border-bottom: 2px solid #70806e;
   }

   #client-work .half-width h4 {
     font-family: 'Playfair Display', serif;
     font-size: 1.15em;
     font-style: italic;
     text-align: left;
     line-height: 1em;
   }

   #client-work .half-width p {
     width: 100%;
     font-size: 1.1em;
     line-height: 1.7em;
     font-weight: 300;
     text-align: left;
   }

   #client-work .half-width p a {
     text-decoration: none;
     color: #333;
     border-bottom: 2px solid #70806e;
   }

   #client-work .half-width img {
     max-width: 98%;
     border: 1px solid #ccc;
   }

   /***** FOOTER *****/
   #footer {
     background: #eed5d0;
     height: auto;
     font-size: 1em;
   }

   #footer .footer-container {
     width: 95%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 1% 0 1% 0;
   }

   #footer .footer-nav {
     text-align: center;
   }

   #footer .footer-nav ul {
     margin: auto;
     padding: 0;
   }

   #footer .footer-nav ul li {
     display: inline-block;
     padding: 0 .75em 0 .75em;
   }

   #footer .footer-nav ul li a {
     text-transform: uppercase;
     text-decoration: none;
     font-size: .7em;
     color: #333;
     font-weight: 400;
     letter-spacing: .1em;
   }

   #footer .footer-nav ul li a:hover {
     border-bottom: 2px solid #333;
   }

   #footer .footer-social {
     text-align: center;
   }

   #footer .footer-social ul {
     margin: auto;
     padding: 0;
   }

   #footer .footer-social ul li {
     display: inline-block;
     padding-right: .75em;
   }

   #footer .footer-social ul li a {
     font-size: 1em;
     color: #333;
   }

   #footer .footer-social ul li a:hover {
     font-weight: bold;
   }

   #footer .footer-notes {
     text-align: center;
   }

   #footer .footer-notes h6 {
     text-transform: uppercase;
     font-size: .7em;
     color: #333;
     font-weight: 400;
     letter-spacing: .1em;
     margin: auto;
     padding: 1% 0;
   }

   #footer .footer-notes a {
     text-decoration: none;
     color: #333;
   }

   #footer .footer-notes a:hover {
     border-bottom: 2px solid #333;
   }

   /* ==========================================================================
      Helper classes
      ========================================================================== */

   /*
    * Hide visually and from screen readers
    */

   .hidden {
       display: none !important;
   }

   /*
    * Hide only visually, but have it available for screen readers:
    * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
    *
    * 1. For long content, line feeds are not interpreted as spaces and small width
    *    causes content to wrap 1 word per line:
    *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
    */

   .visuallyhidden {
       border: 0;
       clip: rect(0 0 0 0);
       height: 1px;
       margin: -1px;
       overflow: hidden;
       padding: 0;
       position: absolute;
       width: 1px;
       white-space: nowrap; /* 1 */
   }

   /*
    * Extends the .visuallyhidden class to allow the element
    * to be focusable when navigated to via the keyboard:
    * https://www.drupal.org/node/897638
    */

   .visuallyhidden.focusable:active,
   .visuallyhidden.focusable:focus {
       clip: auto;
       height: auto;
       margin: 0;
       overflow: visible;
       position: static;
       width: auto;
       white-space: inherit;
   }

   /*
    * Hide visually and from screen readers, but maintain layout
    */

   .invisible {
       visibility: hidden;
   }

   /*
    * Clearfix: contain floats
    *
    * For modern browsers
    * 1. The space content is one way to avoid an Opera bug when the
    *    `contenteditable` attribute is included anywhere else in the document.
    *    Otherwise it causes space to appear at the top and bottom of elements
    *    that receive the `clearfix` class.
    * 2. The use of `table` rather than `block` is only necessary if using
    *    `:before` to contain the top-margins of child elements.
    */

   .clearfix:before,
   .clearfix:after {
       content: " "; /* 1 */
       display: table; /* 2 */
   }

   .clearfix:after {
       clear: both;
   }

   /* ==========================================================================
      EXAMPLE Media Queries for Responsive Design.
      These examples override the primary ('mobile first') styles.
      Modify as content requires.
      ========================================================================== */

      /*---------- TABLET ----------*/
      @media all and (min-width:768px) {
        /***** GRID *****/
        .full-width {
          width: 95%;
          max-width: 1100px;
        }

        /***** HEADER *****/
        header {
          padding-bottom: 1em;
        }

        header .header-title {
          display: block;
          float: left;
          width: 25%;
          text-align: left;
        }

        nav {
          float: left;
          width: 50%;
          text-align: center;
          margin: auto;
          padding: 1em 0 1em 0;
        }

        nav ul li {
          padding: 0 .75em 0 .75em;
        }

        header .header-social {
          display: block;
          float: left;
          width: 25%;
          text-align: right;
          padding: 1em 0 1em 0;
        }

        /***** SKILLS *****/
        #skills h1 {
          font-size: 3em;
        }

        #skills h1 span:after {
          width: 60%;
          margin-top: -.3em;
        }

        #skills .skills-container {
          width: 98%;
          max-width: 1200px;
          margin: 0 auto;
        }

        #skills .skill-list {
          width: 29%;
          height: 525px;
          float: left;
          margin: 0 2% 0 2%
        }

        #skills p {
          width: auto;
          margin-left: auto;
          margin-right: auto;
          padding: 0 1em 2em 1em;
        }

        /***** SKILLS2 *****/
        #skills2 .skills2-container {
          width: 98%;
          max-width: 1200px;
          margin: 0 auto;
        }

        #skills2 h1 {
          font-size: 3em;
        }

        #skills2 h1:after {
          width: 60%;
          margin-top: -.3em;
        }

        #skills2 .skills2-list-row {
          clear: both;
          width: 98%;
          max-width: 1200px;
        }

        #skills2 .skills2-list-item {
          float: left;
          width: 29%;
          margin: 0 2% 0 2%;
        }

        #skills2 .last-item {
          border-bottom: 1px solid #bbb;
        }

        /***** MAIN CONTENT *****/
        .intro-container h1 {
          font-size: 3em;
        }

        .intro-container h1:after {
          width: 60%;
          margin-top: -.3em;
        }

        .intro-container h2 {
          font-size: 2.5em;
        }

        .skillcrush-link a {
          font-size: 1.25em;
        }

        .return a:after {
          width: 30%;
        }

        /***** PORTFOLIO *****/
        #portfolio-landing .portfolio-full {
          width: 98%;
          max-width: 1000px;
        }

        #portfolio-landing .portfolio-half {
          width: 50%;
          float: left;
          padding-bottom: 6em;
        }

        /***** CLIENT PAGES *****/
        #client-work .cw-about {
          margin-left: 15%;
        }

        #client-work .half-width p {
          width: 80%;
        }

        #client-work .half-width img {
          max-width: 100%;
        }

        /***** FOOTER *****/
        #footer .footer-nav {
          float: left;
        }

        #footer .footer-social {
          float: right;
        }

        #footer .footer-notes {
          float: right;
          text-align: right;
          padding-right: 2%;
        }

      }

      /*---------- DESKTOP ----------*/
      @media all and (min-width:940px) {
        /***** GRID *****/
        .full-width {
          width: 95%;
          max-width: 1100px;
        }

        .half-width {
          width: 50%;
          float: left;
        }

        /***** SKILLS *****/
        #skills .skills-container {
          width: 100%;
          max-width: 1200px;
          padding: 6em 0 10em 0;
        }

        #skills .skills-title {
          width: 65%;
        }

        #skills .skill-list {
          height: 425px;
        }

        /***** SKILLS2 *****/
        #skills2 .skills2-container {
          width: 100%;
          max-width: 1200px;
          padding: 6em 0 10em 0;
        }

        #skills2 .skills2-title {
          width: 65%;
        }

        /***** MAIN CONTENT *****/
        .skillcrush-link a {
          font-size: 1.4em;
        }

        .return a:after {
          width: 20%;
        }

        /***** PORTFOLIO *****/


        /***** CLIENT PAGES *****/
        #client-work .cw-about {
          margin-left: 5%;
        }

        #client-work .half-width p {
          width: 90%;
        }

      }

   /* ==========================================================================
      Print styles.
      Inlined to avoid the additional HTTP request:
      https://www.phpied.com/delay-loading-your-print-css/
      ========================================================================== */

   @media print {
       *,
       *:before,
       *:after {
           background: transparent !important;
           color: #000 !important; /* Black prints faster */
           -webkit-box-shadow: none !important;
           box-shadow: none !important;
           text-shadow: none !important;
       }

       a,
       a:visited {
           text-decoration: underline;
       }

       a[href]:after {
           content: " (" attr(href) ")";
       }

       abbr[title]:after {
           content: " (" attr(title) ")";
       }

       /*
        * Don't show links that are fragment identifiers,
        * or use the `javascript:` pseudo protocol
        */

       a[href^="#"]:after,
       a[href^="javascript:"]:after {
           content: "";
       }

       pre {
           white-space: pre-wrap !important;
       }
       pre,
       blockquote {
           border: 1px solid #999;
           page-break-inside: avoid;
       }

       /*
        * Printing Tables:
        * http://css-discuss.incutio.com/wiki/Printing_Tables
        */

       thead {
           display: table-header-group;
       }

       tr,
       img {
           page-break-inside: avoid;
       }

       p,
       h2,
       h3 {
           orphans: 3;
           widows: 3;
       }

       h2,
       h3 {
           page-break-after: avoid;
       }
   }
